.top__Nav__Bar {
  height: 40px;
  background-color: black;
  z-index: 5;
}
.Top__Items a {
  color: white;
  padding: 9px;
  align-items: center;
  font-size: 13px;
  margin-top: 2px;
  text-decoration: none;
}
.nav-item {
  font-size: 14px !important;
}
.nav-item a {
  color: #949494 !important;
  text-decoration: none;
  margin-left: 25px;
}
.nav-item a:hover {
  border-bottom: 1px solid #02a783;
  color: #02a783 !important;
}
.Top__Items span svg {
  font-size: 16px !important;
}
.Top__Items a:hover {
  color: #02a783;
  transition: color 0.2s ease-in-out;
}
.Top__Items {
  margin-top: 7px;
}
.Earth svg {
  font-size: 16px !important;
}
.main__Header {
  z-index: 4;
  width: 100%;
  background-color: white;
  height: 70px;
  border-bottom: 1px solid rgb(204, 204, 204);
}
.main__item {
  height: 40px;
  align-items: center;
}
.main__item img {
  height: 28px;
}
@media screen and (max-width: 1200px) {
  .nav-item {
    font-size: 12px !important;
    padding: 0px;
  }
}
.navbar-nav {
  z-index: 10 !important;
  position: relative !important;
}
.MuiPaper-root.MuiPaper-elevation.MuiPaper-rounded.MuiPaper-elevation1.MuiAccordion-root.MuiAccordion-rounded.MuiAccordion-gutters.css-1elwnq4-MuiPaper-root-MuiAccordion-root {
  box-shadow: none !important;
}
.css-1elwnq4-MuiPaper-root-MuiAccordion-root:before {
  position: static !important;
}
.show {
  display: block;
}
.hide {
  display: none;
}
